.main {
width:650px;
height:450px;
margin:auto;
padding:20px 20px 20px 20px;
background:#DDFFFF;
border: #C0C0C0 solid 10px;
border-image:url(strip.png) 10 10 round;
}

body {
background #BBFFFF;
}

h2{
padding:20px auto;
text-align: center;
}

.thank{
padding: 20px;
text-align: center;
}

.num{
padding: 20px;
text-align: center;
}

.data{
padding: 20px 20px 80px 20px;
text-align: center;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: #FFF;
    padding: 0;
    appearance: none;
    background: #668ad8;/*ボタン色*/
}

.button{
    justify-content: center;
    position: relative;
    padding: .8em 1.1em;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    text-decoration: none;
}

.button:before{
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    width: -webkit-calc(100% - 16px);
    width: calc(100% - 16px);
    height: 0;
    border: solid 8px transparent;
    border-bottom-color: #8eacec;/*ボタン色より明るめの色に*/
}

.button:active{/*押したとき*/
    padding: 0.32em 0.9em;
    -ms-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

.button:active:before{
    width: -webkit-calc(100% - 12px);
    width: calc(100% - 12px);
}

.button:active:before{
   top:-12px;
   border-width: 6px;
}
